<!DOCTYPE html>
<html lang="en">

<style>
    a:hover{
    text-decoration:none;
}

.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #49a1ff;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #3e4399;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Movie Rental</title>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/all.css">

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="/home">
    <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Best Movie Rental
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/random">Random movie</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          Sort movies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/popular">Most Popular Now</a>
          <a class="dropdown-item" href="/best">All-Time Bests</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/new">New Arrivals</a>
            <a class="dropdown-item" href="/upcoming">Coming Soon</a>
            <a class="dropdown-item" href="/year">Movies of the Year</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/category">Search By Category</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_wishlist">My Wishlist</a>
      </li>
    </ul>
      <ul class="navbar-nav">
          <li>
              <a href="/my_movies" class="btn btn-outline-dark"><span class="fa fa-film"></span> My Movies</a>
          </li>
          <li>
              <p style="color: transparent">Discount code: 5P7f638sLOSRUMANOSMOLAN</p>
          </li>
      </ul>
  </div>
</nav>
<body>
    
    <div class="focus">
        

        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Movie Rental</title>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/all.css">

</head>
<style>
body {
    background-color: #dc3545;
}
</style>
<body>
<div>
  <hr class="container" style="border-top-color: transparent; margin-top: 130px">
    <h1 class="display-3 text-center" style="text-align-all: center">This is gonna be fun!</h1>
    <p class="lead text-center">Select one of the categories to start the search...</p>
    <hr class="my-4" style="border-top-color: transparent">
    <div class="text-center">
        <a class="center-block btn btn-lg align-items-center" style="background-color: #1807ff; color: #fcf8e3" href="/category/28" role="button">Action</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #ffc400" href="/category/12" role="button">Adventure</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #07ff0b" href="/category/16" role="button">Animation</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #ee07ff" href="/category/35" role="button">Comedy</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #d46514" href="/category/80" role="button">Crime</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #85d980" href="/category/99" role="button">Documentary</a>
    </div>
    <hr class="my-1" style="border-top-color: transparent">
    <div class="text-center" >
        <a class="center-block btn btn-lg align-items-center" style="background-color: #000000; color: #fcf8e3" href="/category/18" role="button">Drama</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #b6fad6" href="/category/10751" role="button">Family</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #b206d7; color: #fcf8e3" href="/category/14" role="button">Fantasy</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #7ec156" href="/category/36" role="button">History</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #59389a; color: #fcf8e3" href="/category/27" role="button">Horror</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #ef3a5c" href="/category/10402" role="button">Music</a>
    </div>
    <hr class="my-1" style="border-top-color: transparent">
    <div class="text-center">
        <a class="center-block btn btn-lg align-items-center" style="background-color: #2641d4; color: #fcf8e3" href="/category/9648" role="button">Mystery</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #3d7f77; color: #fcf8e3" href="/category/10749" role="button">Romance</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #d1713c; color: #fcf8e3" href="/category/878" role="button">Science Fiction</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #edc512" href="/category/53" role="button">Thriller</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #d46514" href="/category/10752" role="button">War</a>
        <a class="center-block btn btn-lg align-items-center" style="background-color: #9089c1; color: #fcf8e3" href="/category/37" role="button">Western</a>
    </div>
    <hr class="my-3" style="border-top-color: transparent">
    <a class="d-flex justify-content-center btn btn-lg align-items-center" style="background-color: #dc3545" href="/random" role="button">...or click here for a random movie!</a>
      <hr class="my-xl-5" style="border-top-color: transparent; margin-top: 8rem !important;">

  </div>



</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/init.js"></script>
</body>
<footer>
    <div class="align-text-bottom">
        <div class="row">
			<div class="col-sm-12 text-center">
				<div class="copyright">
					<p>© 2021
                        <a class="transition">
                            Estevo Cordal Vidal & Francisco Adrian Garcia Martinez
                        </a>
                    </p>
				</div>
			</div>
        </div>
		</div>
</footer>
</html>