<!DOCTYPE html>
<html lang="en">

<style>
    a:hover{
    text-decoration:none;
}

.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.my-size {
    width: 300px !important;
    margin-left: 518px !important;
}
.copyright a {
    color: #49a1ff;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #3e4399;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Movie Rental</title>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/all.css">

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="/home">
    <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Best Movie Rental
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/random">Random movie</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          Sort movies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/popular">Most Popular Now</a>
          <a class="dropdown-item" href="/best">All-Time Bests</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/new">New Arrivals</a>
            <a class="dropdown-item" href="/upcoming">Coming Soon</a>
            <a class="dropdown-item" href="/year">Movies of the Year</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/category">Search By Category</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_wishlist">My Wishlist</a>
      </li>
    </ul>
      <ul class="navbar-nav">
          <li>
              <a href="/my_movies" class="btn btn-outline-dark"><span class="fa fa-film"></span> My Movies</a>
          </li>
          <li>
              <p style="color: transparent">Discount code: 5P7f638sLOSRUMANOSMOLAN</p>
          </li>
      </ul>
  </div>
</nav>
<body>

    <div class="focus">


<style>
body {
    background-color: #fefefe;
}
</style>
<body>
<div>
  <hr class="container" style="border-top-color: transparent; margin-top: 130px">
    <h1 class="display-3 text-center" style="text-align-all: center">Oops!</h1>
    <p class="lead text-center">{{ h3 }}</p>
        <form action="/search" method="GET" class="form-check-inline">
            <input class="form-control mr-sm-2 my-size" type="search" name="q" placeholder="...how about you search for a movie?" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <hr class="my-xl-1" style="border-top-color: transparent; margin-top: 12rem !important;">
  </div>


</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/init.js"></script>
</body>
<footer>
    <div class="align-text-bottom">
        <div class="row">
      <div class="col-sm-12 text-center">
        <div class="copyright">
          <p>© 2021
                        <a class="transition">
                            Estevo Cordal Vidal & Francisco Adrian Garcia Martinez
                        </a>
                    </p>
        </div>
      </div>
        </div>
    </div>
</footer>
</html>