<!DOCTYPE html>
<html lang="en">

<style>
    a:hover{
    text-decoration:none;
}

.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #49a1ff;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #3e4399;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Movie Rental</title>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/all.css">

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="/home">
    <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Best Movie Rental
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/random">Random movie</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          Sort movies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/popular">Most Popular Now</a>
          <a class="dropdown-item" href="/best">All-Time Bests</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/new">New Arrivals</a>
            <a class="dropdown-item" href="/upcoming">Coming Soon</a>
            <a class="dropdown-item" href="/year">Movies of the Year</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/category">Search By Category</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_wishlist">My Wishlist</a>
      </li>
    </ul>
  </div>
</nav>
<body>
    
    <div class="focus">
        

        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Movie Rental</title>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Film-512.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/all.css">

</head>
<style>
body {
    background-color: #dc3545 !important;
}
</style>
<body>
<div>
  <hr class="container">
    <h1 class="display-3 text-center" style="text-align-all: center">Welcome!</h1>
    <p class="lead text-center">We are the #1 online movie rental service.</p>
    <p class="lead text-center">Why don't you visit today's top trending movies?</p>
    <div class="text-center">
        <a class="center-block btn btn-lg align-items-center" style="background-color: #ffc107" href="/popular" role="button">Click here!</a>
    </div>
    <hr class="my-4">
    <a class="d-flex justify-content-center btn btn-primary btn-lg align-items-center" href="/" role="button">Click here!</a>
      <hr class="my-4">
    <form action="/search" method="GET" class="d-flex form-check-inline">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="...or maybe why don't you search for your favorite movie? I'm sure we already have it!" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
    <blockquote class="blockquote text-right">
  <p class="mb-0">Netflix... be careful with these guys. There's a new competitor in the industry!</p>
  <footer class="blockquote-footer" style="color: #ffc107">Georgine Halsey for <cite title="NYT">New York Times</cite></footer>
    </blockquote>
  </div>



</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/init.js"></script>
</body>
<footer>
    <div class="align-text-bottom">
        <div class="row">
			<div class="col-sm-12 text-center">
				<div class="copyright">
					<p>© 2021
                        <a class="transition">
                            Estevo Cordal Vidal & Francisco Adrian Garcia Martinez
                        </a>
                    </p>
				</div>
			</div>
        </div>
		</div>
</footer>
</html>